* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  border: 1px solid black;
  margin: 2px;
}

.logo {
  height: 80px;
  border-radius: 100%;
}
.nav-container {
  margin: auto 0;
}
.nav-items {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  font-size: 1.5rem;
}
.btn {
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid rgba(163, 159, 159, 0.479);
}

.btn-login {
  width: 5rem;
  text-align: center;
  padding: 0.3rem 1.5rem;
  font-size: 1rem;
}

.search-box {
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(163, 159, 159, 0.479);
}

.main-container {
  margin: 1rem 20rem;
}
.resto-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 2rem;
}

.filter-btns {
  margin: 0 2rem;
  display: flex;
  gap: 1rem;
}

.resto-card {
  width: 200px;
  background-color: aliceblue;
}

.resto-card:hover {
  cursor: pointer;
  border: 2px solid red;
}

.resto-card > img {
  width: 100%;
  padding: 5px;
}

.resto-card-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-info,
.resto-card-details h2 {
  word-wrap: break-word;
}

.shimmerCards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 20rem;
}

.shimmer-card {
  width: 200px;
  height: 350;
  background-color: rgb(227, 232, 236);
}
